/*----------------------------------------------
 * Testimonial
 * ---------------------------------------------*/

.abcbizrev-testimonial-single-item {
    background-color: #e6ebf2;
    padding: 30px;
    border-radius: 5px;
    position: relative;
}

.abcbizrev-testimonial-header {
    display: flex;
    gap: 20px;
    align-items: center;
}

#abcbizrev-testimonial-client-img img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    max-width: 100% !important;
    object-fit: cover;
    object-position: top;
}

.abcbizrev-testimonial-client-info h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3em;
    margin-bottom: 10px;
}

.abcbizrev-testimonial-client-info p {
    color: #448E08;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 0;
}

.abcbizrev-testimonial-content p {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3rem;
    margin-top: 20px;
}

.abcbizrev-testimonial-rating {
    margin-top: 20px;
}

.abcbizrev-testimonial-rating i {
    color: #D3A500;
    font-size: 14px;
    font-weight: 400;
    margin-right: 5px;
}

.abcbizrev-testimonial-quote {
    position: absolute;
    top: 40px;
    right: 65px;
}

.abcbizrev-testimonial-quote svg,
.abcbizrev-testimonial-quote svg path {
    fill: #444444;
    color: #444444;
    opacity: 0.7;
}

.swiper.abcbizrev-testimonial-slider {
    padding-bottom: 65px;
}

.abcbizrev-testimonial-slider-nav-bar button.abcbizrev-testimonial-arrow {
    cursor: pointer;
    border: 0;
    position: absolute;
    top: 40%;
    z-index: 1;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abcbizrev-testimonial-slider-nav-bar button.abcbizrev-testimonial-arrow.abcbizrev-testimonial-arrow-right {
    right: -60px;
    outline: none;
}

.abcbizrev-testimonial-slider-nav-bar button.abcbizrev-testimonial-arrow svg {
    width: 40px;
    height: 40px;
    background-color: #6247ed;
    border-radius: 50%;
    fill: #444444;
    padding: 8px;
}

.abcbizrev-testimonial-slider-nav-bar button.abcbizrev-testimonial-arrow.abcbizrev-testimonial-arrow-right svg {
    transform: rotate(180deg);
}

.abcbizrev-testimonial-slider-nav-bar button.abcbizrev-testimonial-arrow.abcbizrev-testimonial-arrow-left {
    left: -60px;
    outline: none;
}

.abcbizrev-testimonial-slider .abcbizrev-testimonial-arrow.slick-disabled,
.abcbizrev-testimonial-slider .abcbizrev-testimonial-arrow.slick-disabled {
    opacity: .25;
}

.abcbizrev-testimonial-slider-nav-bar .abcbizrev-testimonial-arrow:hover svg {
    background-color: #FFAB01;
    color: #fff;
    fill: #fff;
    transition: 0.3s ease;
}

.swiper-pagination.abcbizrev-testimonial-slider-pagination {
    display: flex;
    justify-content: center;
}

.swiper-pagination.abcbizrev-testimonial-slider-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.swiper-pagination.abcbizrev-testimonial-slider-pagination .swiper-pagination-bullet-active {
    background-color: #448E08;
}

/*---------------------------
* Testimonial grids
-----------------------------*/
.abcbizrev-testimonial-grids {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.abcbizrev-testimonial-grids .abcbizrev-testimonial-single-item {
    margin-right: 0;
    margin-left: 0;
}

.abcbizrev-elementor-pagination {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.abcbizrev-elementor-pagination * {
    display: inline-block;
}